a.chu{
    position: relative;
    text-decoration: none;
}
a.chu span{
    font-size: 30px;
}
a.chu .ke{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: lawngreen;
    transition: 0.3s;
}
a.chu:hover .ke{
    width: 100%;
}
